# Change to "production" when ready to deploy
NODE_ENV="development"
NEXT_PUBLIC_ROOT_DOMAIN="varityweb.com"
NEXT_PUBLIC_UMAMI_SCRIPT_URL=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=

DATABASE_URL="postgresql://exampleuser:examplepass@localhost:5432/exampledb?schema=public"
DIRECT_URL="postgresql://exampleuser:examplepass@localhost:5432/exampledb?schema=public"

BETTER_AUTH_SECRET="some_development_secret_at_least_32_characters"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_API_KEY=